.button{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: $color-primary;
    color: $color-white;
    padding: 10px;
    border-radius: 3px;
    margin: auto;
    width: 150px;
    margin-top: 20px;
}
.btn{
    //display: block;
    color: $purple;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: solid 3px $color-primary;
    padding: 10px 20px;
    margin-right: 0.5rem;
    width: auto;
    font-size: 0.85rem;
    font-weight: $font-weight--medium;
    text-transform: uppercase;
     transition: all 0.4s;
     letter-spacing: .125rem;
     @include mq(tablet) {
          margin-right: 1rem;
          font-size: 1.125rem;
     }
     @include mq(desktop) {
          font-weight: $font-weight--medium;
         font-size: 1.125rem;
     }
    &:hover{
        background-color: $color-primary;
        color: white;
    }
    &--gradient{
        background: linear-gradient(45deg, $color-primary, $color-secondary);
        border: none;
        padding: 13px 23px;
        color: white;
        &:hover {
            background: $color-primary;
            color: white;
        }
    }

    &--signup{
        background-color: $purple;
        color: $white;
        text-decoration: none;
        outline: none;
        border: none;
        border: solid 3px $color-primary;
        padding: 10px 46px;
        width: auto;
        font-size: 1rem;
        font-weight: $font-weight--medium;
        text-transform: uppercase;
        transition: all 0.4s;
        margin: 0;
        @include mq(tablet) {
            //margin-right: 1rem;
            font-size: 1.125rem;
        }

        @include mq(desktop) {
            font-weight: $font-weight--medium;
            font-size: 1.125rem;
        }
        &:hover {
            background-color: $white;
            //font-weight: $font-weight--bold;
            color: $color-primary;
            border: solid 3px $color-primary;
        }
    }
}
