//***************
//Images
//***************
.landingPageImage{
    margin: auto;
    width: 340px;
}

.portfolio-img{
    width:300px;
    margin-left: auto;
}
.svg{
    &--aurea{
        width: 100%;
        @include mq(desktop){
             //width: 250%;
        }
       
    }
    
}