
<!-- block for svg image -->
<div class="container--block">
    
    <svg class="svg--aurea" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992.3 678.23">
        <defs>
            <style>
                .cls-1,
                .cls-3,
                .cls-5,
                .cls-7,
                .cls-9 {
                    fill: none;
                    stroke-miterlimit: 10;
                    stroke-width: 12px;
                }
    
                .cls-1 {
                    stroke: #f05;
                }
    
                .cls-2 {
                    fill: #f05;
                }
    
                .cls-3 {
                    stroke: #1effbc;
                }
    
                .cls-4 {
                    fill: #1effbc;
                }
    
                .cls-5 {
                    stroke: #6a45eb;
                }
    
                .cls-6 {
                    fill: #6a45eb;
                }
    
                .cls-7 {
                    stroke: #ffe81a;
                }
    
                .cls-8 {
                    fill: #ffe81a;
                }
    
                .cls-9 {
                    stroke: #c200fb;
                }
    
                .cls-10 {
                    fill: #c200fb;
                }
    
                .cls-11 {
                    font-size: 32.58px;
                }
    
                .cls-11,
                .cls-12,
                .cls-13,
                .cls-15,
                .cls-17 {
                    fill: #fff;
                    font-family: Lato-Bold, Lato;
                    font-weight: 700;
                }
    
                .cls-12 {
                    font-size: 97.74px;
                }
    
                .cls-13 {
                    font-size: 72px;
                    letter-spacing: -0.02em;
                }
    
                .cls-14 {
                    letter-spacing: 0em;
                }
    
                .cls-15 {
                    font-size: 60px;
                }
    
                .cls-16 {
                    letter-spacing: -0.02em;
                }
    
                .cls-17 {
                    font-size: 48px;
                }
            </style>
        </defs>
        <path class="cls-1" d="M59.71 53.13h542.98v542.98H59.71z" />
        <path class="cls-2" d="M0 135.26h542.98v542.98H0z" />
        <path class="cls-3" d="M602.68 260.49h335.61V596.1H602.68z" />
        <path class="cls-4" d="M628.19 342.62H963.8v335.61H628.19z" />
        <path class="cls-5" d="M730.94 53.13H938.3v207.36H730.94z" />
        <path class="cls-6" d="M784.94 0H992.3v207.36H784.94z" />
        <path class="cls-7" d="M602.68 181.38h128.25v79.11H602.68z" />
        <path class="cls-8" d="M640.19 213.45h128.25v79.11H640.19z" />
        <path class="cls-9" d="M602.68 53.13h128.25v128.25H602.68z" />
        <path class="cls-10" d="M564.06 16.69h128.25v128.25H564.06z" />
        <text class="cls-11" transform="translate(394.92 332.32)">
            beta
        </text>
        <text class="cls-12" transform="translate(176.31 397.24)">
            aurea
        </text>
        <text class="cls-12" transform="translate(734.84 541.98)">
            [B]
        </text>
        <text class="cls-13" transform="translate(843.6 122.81)">
            [
            <tspan class="cls-14" x="20.16" y="0">C]</tspan>
        </text>
        <text class="cls-15" transform="translate(588.37 98.07)">
            [
            <tspan class="cls-16" x="18" y="0">D</tspan>
            <tspan x="61.65" y="0">]</tspan>
        </text>
        <text class="cls-17" transform="translate(676.18 261.35)">
            [E]
        </text>
        <text class="cls-12" transform="translate(207.47 595.98)">
            [A]
        </text>
    </svg>

</div>
<div class="container--block column ">
    <h2>
        Aurea
        </br>
        <span>CSS Grid</span>
    </h2>
    
    <p>
        I am currently working on a lightweight CSS grid based on the the Golden Ratio. Subscribe and I'll notify you when the project goes live on Github! 
    </p>
    <!-- Begin MailChimp Signup Form -->
    
    <div id="mc_embed_signup">
        <form action="https://design.us17.list-manage.com/subscribe/post?u=d4a244297cf700375333374d2&amp;id=1e5c0b404d" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe to our mailing list</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_d4a244297cf700375333374d2_1e5c0b404d" tabindex="-1" value="">
                </div>
                <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn--signup">
                </div>
            </div>
        </form>
    </div>
    
    <!--End mc_embed_signup-->
</div>

<!-- mailchimp sign up form -->