<!-- Modal  -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>About Me</h2>
        <p class="text">I am Front-end Developer with 3 years of experience. I primarly focus on Javascript(ES5/6, node and browser), HTML5, and CSS3(SCSS). I enjoy learning new Javascript/CSS frameworks and libraries. I have experice developing in ReactJS, VueJS, D3JS, Bootstrap, Bulma.</p>

        <!-- <p class="text-white">Some text in the Modal..</p> -->
    </div>
</div>